#body {
    color: white;
    background-color: black;
    font-family: arial, sans-serif;
    font-weight: bold;
    text-shadow: 0 0 .2em black;
}

#time {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    font-size: 1em;
    padding: 0.3em 0.5em;
    color: white;
    text-shadow: .1em .1em .2em black, -.1em .1em .2em black, -.1em -.1em .2em black, .1em -.1em .2em black,
                 .1em 0 .2em black, -.1em 0 .2em black, 0 .1em .2em black, 0 -.1em .2em black;
}

#slide {
    width: 100%;
    height: 100%;
    background-image: url(slidebg.png);//slidebg.png
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0em;
}

#logoslide {
    width: 100%;
    height: 100%;
    background-image: url(logoslide.png);//logoslide.png
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding: .3em;
}

h3 {
    text-align: center;
    font-size: 1.2em;
    padding: .2em;
}

ul {
    margin: .5em 1em;
    list-style-type: none;
}

li {
    margin: 0em 0em 1em 1.5em;
}

li > .header {
    margin: 0em 0em 0em -1em;
    color: #90e297;
}

.fotocontainer {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.fotocontainer > img {
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.poster {
    width: 100%;
    height: 100%;
}

table {
    margin: 0 auto;
}

td,th {
    padding: 0 1em;
}

th {
    color: #90e297;
}

.highlight {
    color: #90e297;
}
