#body {
    color: white;
    background-color: black;
    font-family: arial, sans-serif;
    font-weight: bold;
}

#time {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    font-size: 1em;
	font-weight: bold;
    padding: 0.3em 0.5em;
    color: white;
 text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
}

#slide {
    width: 100%;
    height: 100%;
    background-image: url(slidebg2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 0em;
}

#logoslide {
    width: 100%;
    height: 100%;
    background-image: url(logoslide.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    text-align: center;
    font-size: 1.5em;
    padding: .3em;
}

ul {
    margin: .5em 1em;
    list-style-type: none;
}

li {
    margin: 0em 0em 1em 1.5em;
}

li > .header {
    margin: 0em 0em 0em -1em;
    color: #303050;
}

.fotocontainer {
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: black;
}

.fotocontainer > img {
    max-width: 100%;
    height: 100%;
    margin: auto;
}

.poster {
    width: 100%;
    height: 100%;
}
